langchain==1.0.7
flask==3.1.2 
sentence-transformers==5.1.2
pypdf==6.0.0 
langchain-pinecone==0.2.8 
langchain-openai==0.3.24
langchain-community==0.3.26
-e .



# !pip install protobuf==3.20.3 --force-reinstall
# !pip install trl
# !pip install bitsandbytes